* {
    box-sizing:border-box;
    margin:0;
    padding:0;
}
:root {
    --main--color:#0B6b49;
    --main--highlight:#35C495;
    --primary--color:#C44A2B;
    --primary--highlight:#FF7452;
    --secondary--color:#330A00;
    --past--color:orange;
    --present-color:yellow;
    --upcoming--color:green;
}
section {
    background-color:var(--main--color);
    font-family: 'Courier New', Courier, monospace;
}
.header {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    background-color:var(--main--highlight);
}
.date {
    background-color:var(--primary--color);
}
.title {
    width:70%;
    background-color: var(--secondary--color);
}
.date {
    width:25%;
}
.header,
.date {
    height:50px;
}

/* slots */
.body > div {
    margin:20px 0 0px 0;
}
.slot {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:center;
    background-color:goldenrod;
    border-radius:20px;
}

label {
    width:5%;
    flex:0.5;
    background-color:var(--main--highlight);
}

.list {
    flex:0.5;
    border:none;
    height:50px;
    padding-left:20px;
    background-color:var(--secondary--color);
    color:var(--primary--color);

}

.slot input[type=text] {
    flex:3;
    height:50px;
    vertical-align:middle;
    padding:10px;
    outline:none;
    box-sizing:border-box;
    border:none;
    background-color:var(--main--highlight);
}
.saveBtn {
    flex:1;
    background-color:var(--main--highlight);
    border-radius:10px;
    margin-left:10px;
}

.slot label,
.saveBtn {
    text-align:center;
    height:50px;
    line-height:50px;

}